/* .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #000000;
} */

.navbar-nav>a:hover,
.navbar-nav>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #a0a0a0;
    font-weight: bold;
    color: #000000;
}